@import "tailwindcss";

:root {
  /* --- VALORES POR DEFECTO (SEGURIDAD) --- */
  /* Estos se verán solo si falla la carga dinámica o durante el primer parpadeo */
  
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
  
  --primary: #64748b;    /* Slate 500 */
  --secondary: #1e293b;  /* Slate 800 */
  
  --muted: #94a3b8;      /* Slate 400 */
}

body {
  /* Aplicamos las variables al cuerpo */
  background: var(--background);
  color: var(--foreground);
}
